.serviceUpdate {
  width: 98%;
  box-shadow: 2px 2px 8px rgba(186, 191, 194, 0.8);
  border-radius: 16px;
  margin-top: 32px;
  padding: 18px 24px;
  &__gr-btn {
    width: 98%;
    text-align: center;
    margin-top: 20px;
    button {
      &:first-child {
        margin-right: 32px;
      }
    }
  }
  &__form-checkbox {
    .imp-text {
      font-size: 14px;
      &::before {
        content: "* ";
        color: var(--red);
      }
    }
  }
}
