.ant-select {
  width: 100% !important;
}
.ant-select-dropdown {
  width: fit-content !important;
  max-height: 200px !important;
  overflow-y: scroll;
}
.ant-select-selector {
  border-radius: 8px !important;
  height: 42px !important;
  align-items: center;
}
