.formchart {
  width: 57vw;
  background: var(--white);
  border-radius: 12px;
  padding: 24px;
  box-shadow: 2px 2px 15px rgba(70, 64, 67, 0.3);
  margin-top: 8px;
  &__topbar {
    justify-content: space-between;
    .col {
      .title {
        padding-bottom: 5px;
      }
    }
    .select-day {
      display: flex;
      flex-direction: row;
      font-weight: 600;
      align-items: center;
      margin-right: 18px;
      .ant-select {
        margin-left: 10px;
      }
    }
  }
  &__selected-day {
    font-size: 0.875rem;
    color: var(--gray-200);
  }
  &__chart {
    height: 40vh;
    // margin-top: 40px;
  }
  .ant-select-selector {
    border-radius: 8px !important;
    height: 42px !important;
    align-items: center;
  }
}
