.rc-virtual-list {
  .rc-virtual-list-holder-inner {
    .ant-select-item {
      padding: 10px;
      font-size: 16px;
    }
    .ant-select-item-option-selected {
      background: var(--orange-50);
    }
  }
}
.select {
  margin-top: 8px;
  margin-bottom: 14px;
  .ant-select-selection-item {
    background: var(--orange-300) !important;
    padding: 12px;
    height: 28px;
    font-size: 14px;
    font-weight: 700;
    margin-right: 15px !important;
    border-radius: 9px !important;
    align-items: center;
    color: var(--white);
  }
  .ant-select-selection-item-remove {
    font-size: 20px !important;
    color: var(--white) !important;
    line-height: 30px;
    margin-left: 10px;
  }
  .ant-select-selector {
    height: 80px !important;
    .ant-select-selection-overflow {
      position: absolute;
      top: 8px;
      .ant-select-selection-overflow-item {
        &:first-child {
          margin-left: 12px;
        }
      }
    }
  }
}

.ant-select {
  font-size: 16px;
  &:hover {
    // border-color: var(--orange-300) !important;
  }
}
.ant-select-dropdown {
  border-radius: 8px;
}

.ant-select-selector {
  border-radius: 8px !important;
  height: 44px !important;
  align-items: center;
}
.ant-select-open {
  .ant-select-arrow {
    rotate: 180deg;
  }
}
.ant-input-affix-wrapper {
  border-radius: 8px 0 0 8px !important;
  align-items: center;
  .ant-input {
    height: 34px !important;
  }
}
.ant-input-group-addon {
  padding-right: 12px;
  .ant-btn {
    border-radius: 0 8px 8px 0 !important;
    border-left: transparent;
    height: 44px;
    svg {
      width: 20px !important;
      height: 20px !important;
      fill: var(--orange-500);
    }
  }
}
.ant-input {
  font-size: 16px !important;
}
