.Menubar {
  position: sticky;
  background: var(--white);
  left: 0;
  width: 200px;
  height: 100vh;
  box-shadow: 0px 4px 6px rgba(219, 219, 219, 1);
  border-radius: 16px 0px 0px 16px;
  text-align: left;
  .logo-a {
    padding: 30px 60px;
  }
  .Menu-item {
    position: relative;
    width: 100%;
    margin-top: 20px;
    .card {
      display: flex;
      height: 50px;
      padding-block: 12px;
      align-items: center;
      padding-left: 20px;
      .icon {
        margin-right: 10px;
        width: 20px;
        height: 20px;
        img {
          max-width: 100%;
          background: var(--gray-300);
        }
      }
      p {
        color: var(--gray-300);
      }
    }
    a.active {
      .card {
        background: var(--orange-500);
        .icon {
          svg {
            stroke: var(--white);
            path {
              stroke: var(--white);
            }
          }
        }
      }
      p {
        color: var(--white);
      }
    }
    a.inactive {
      .card {
        .icon {
          stroke: var(--gray-300);
        }
        &:hover {
          background: var(--orange-50);
          .icon {
            svg {
              stroke: var(--orange-500);
              path {
                stroke: var(--orange-500);
              }
            }
          }
          .title {
            p {
              color: var(--orange-500);
            }
          }
        }
      }
    }
    a.breadcrumb-not-active {
      color: #cccccc;
    }
    a.breadcrumb-active {
      color: #000000;
    }
    a.breadcrumb-arrow {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .logout {
    position: absolute;
    bottom: 0;
    margin: 30px 12px;
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    button {
      cursor: pointer;
      width: 90%;
      height: 100%;
      border: none;
      border-radius: 8px;
      background: var(--orange-50);
      color: var(--orange);
      font-family: "Nunito", sans-serif !important;
      font-size: 1rem;
      align-items: center;
      .box {
        display: flex;
        margin: 12px;
        svg {
          width: 20px;
          height: 20px;
          font-weight: 10px;
          margin-right: 10px;
        }
      }

      &:hover {
        background-color: var(--orange-300);
        color: var(--white);
      }
    }
  }
}
