.checkAllForm {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  .ant-checkbox-group {
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: 12px;
      &:first-child {
        margin-top: 12px;
      }
    }
  }
}
