.maincontent {
  position: relative;
  width: 791px;
  display: flex;
  flex-direction: column;
  .title {
    text-align: left !important;
    padding-bottom: 20px;
    color: var(--orange-500);
  }
}
